build
dist / media
node_modules
.DS_Store
.env
.next
.vercel

nginx/letsencrypt/live/
nginx/letsencrypt/archive/
nginx/letsencrypt/renewal/

# Payload default media upload directory

.vscode

public/robots.txt
public/sitemap*.xml


# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
